In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chengdu,CN,2022-09-19 03:20:25,30.6667,104.0667,73.29,88,75,2.24
1,1,Albany,US,2022-09-19 03:20:25,42.6001,-73.9662,67.59,94,100,3.13
2,2,Taoudenni,ML,2022-09-19 03:20:26,22.6783,-3.9836,89.24,20,7,9.80
3,3,Kefamenanu,ID,2022-09-19 03:20:26,-9.4467,124.4781,91.90,27,68,7.45
4,4,Leh,IN,2022-09-19 03:20:26,34.1667,77.5833,55.62,22,0,2.75
5,5,Belaya Gora,RU,2022-09-19 03:20:27,68.5333,146.4167,46.76,40,100,19.22
6,6,Ulaangom,MN,2022-09-19 03:20:27,49.9811,92.0667,53.49,46,0,2.62
7,7,Gat,IL,2022-09-19 03:20:28,31.6100,34.7642,74.39,100,26,3.09
8,8,Jieshi,CN,2022-09-19 03:20:28,22.8134,115.8257,89.92,57,21,3.60
9,9,Kashi,CN,2022-09-19 03:20:28,39.4547,75.9797,63.61,72,20,4.47

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=250, point_radius=3.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chengdu,CN,2022-09-19 03:20:25,30.6667,104.0667,73.29,88,75,2.24
1,1,Albany,US,2022-09-19 03:20:25,42.6001,-73.9662,67.59,94,100,3.13
7,7,Gat,IL,2022-09-19 03:20:28,31.6100,34.7642,74.39,100,26,3.09
9,9,Kashi,CN,2022-09-19 03:20:28,39.4547,75.9797,63.61,72,20,4.47
23,23,Isla Vista,US,2022-09-19 03:20:32,34.4133,-119.8610,67.41,82,0,0.00
29,29,Lodja,CD,2022-09-19 03:20:34,-3.4833,23.4333,68.41,98,100,0.22
34,34,Mayumba,GA,2022-09-19 03:20:35,-3.4320,10.6554,74.43,90,100,8.10
37,37,Arraial Do Cabo,BR,2022-09-19 03:20:36,-22.9661,-42.0278,66.13,73,0,2.84
41,41,Pisco,PE,2022-09-19 03:20:37,-13.7000,-76.2167,60.85,88,100,6.91
42,42,Rikitea,PF,2022-09-19 03:20:38,-23.1203,-134.9692,72.32,76,27,18.52

In [30]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Chengdu      CN     73.29  30.6667  104.0667
1            Albany      US     67.59  42.6001  -73.9662
7               Gat      IL     74.39  31.6100   34.7642
9             Kashi      CN     63.61  39.4547   75.9797
23       Isla Vista      US     67.41  34.4133 -119.8610
29            Lodja      CD     68.41  -3.4833   23.4333
34          Mayumba      GA     74.43  -3.4320   10.6554
37  Arraial Do Cabo      BR     66.13 -22.9661  -42.0278
41            Pisco      PE     60.85 -13.7000  -76.2167
42          Rikitea      PF     72.32 -23.1203 -134.9692

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Chengdu,CN,73.29,30.6667,104.0667,Crowne Plaza Chengdu City Center
1,Albany,US,67.59,42.6001,-73.9662,
7,Gat,IL,74.39,31.6100,34.7642,OlusHome
9,Kashi,CN,63.61,39.4547,75.9797,帕米尔青年旅舍
23,Isla Vista,US,67.41,34.4133,-119.8610,Best Western Plus South Coast Inn

In [39]:
 # Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""